language: perl
perl:
  - "5.10.1-thr"
  - "5.12-thr"
  - "5.14-thr"
  - "5.18-thr"
  - "5.20-thr"
sudo:
  false
addons:
  apt:
    packages:
    - liblog-log4perl-perl
    - ncbi-blast+
    - perl
env:
    - PERL5LIB=/usr/share/perl5/:~/perl5/lib/perl5/:"$PERL5LIB"
install:
    - export RELEASE_TESTING=1 AUTOMATED_TESTING=1 AUTHOR_TESTING=1 HARNESS_OPTIONS=c HARNESS_TIMER=1
    - cpanm --quiet --notest Devel::Cover::Report::Coveralls File::Which
    - cd util/bwa && make && cd -
    - wget 'https://github.com/samtools/samtools/releases/download/1.3/samtools-1.3.tar.bz2'
    - tar xjf samtools-1.3.tar.bz2
    - cd samtools-1.3 && make && export PATH=$PWD:"$PATH" && ls && pwd && cd -
script: 
    - bin/proovread --sample
