language: perl
perl:
  - "5.10.1-thr"
  - "5.12.0-thr"
  - "5.14.4-thr"
  - "5.18.3-thr"
  - "5.20.1-thr"
sudo:
  false
addons:
  apt:
    packages:
    - liblog-log4perl-perl
    - ncbi-blast+
env:
#    - PERL5LIB=/usr/share/perl5/:~/perl5/lib/perl5/:"$PERL5LIB"
    - SAMTOOLSVERSION="1.3"
    - SAMTOOLSVERSION="1.2"
    - SAMTOOLSVERSION="1.1"
before_install:
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init
  - build-perl
  - perl -V
install:
    - cd util/bwa && make && cd -
    - wget 'https://github.com/samtools/samtools/releases/download/'"$SAMTOOLSVERSION"'/samtools-'"$SAMTOOLSVERSION"'.tar.bz2'
    - tar xjf samtools-"$SAMTOOLSVERSION".tar.bz2
    - cd samtools-"$SAMTOOLSVERSION" && make && export PATH=$PWD:"$PATH" && ls && pwd && cd -
script: 
    - bin/proovread --sample
